<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roadzik</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <section class="bg-[url('/pexels-daniel-putzer-633409.jpg')] h-[90vh] bg-no-repeat bg-cover">
      <%- include('./partial/navbar.ejs') %>
      <section class="h-1/2 w-1/2 justify-center flex pl-[5%] flex-col min-[320px]:max-sm:items-center min-[320px]:max-sm:w-full min-[320px]:max-sm:justify-normal gap-6 sm:max-xl:w-full">
        <h1 class="text-[#3c1b43] text-4xl min-[320px]:text-2xl">Roadzik - Full stack developer</h1>
        <p class="text-white text-xl min-[320px]:max-sm:text-l w-3/5">I am a Full stack developer that creates websites using: <br>
          Frontend: Tailwind, JS - learning (Typescript and React) <br> 
          Backend: Node.js, Express and MongoDB and more</p>
        <section class="flex flex-row justify-between w-2/5">
          <button class="text-white w-40 h-[42px] rounded-xl h-full border-solid border border-[#3c1b43] hover:text-[#3c1b43] hover:bg-transparent bg-[#3c1b43] transition-all">My Portfolio</button>
          <button class="text-white w-40 h-[42px] rounded-xl h-full border-solid border border-[#3c1b43] hover:text-[#3c1b43] hover:bg-transparent bg-[#3c1b43] transition-all">More About Me</button>
        </section>
        </section>
    </section>
  </body>
</html>
