<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roadzik</title>
    <link rel="stylesheet" href="/public/style.css" type="text/css" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <section class="bg-[url('/pexels-daniel-putzer-633409.jpg')] h-[90vh] bg-no-repeat bg-cover">
      <%- include('./partial/navbar.ejs') %>
    </section>
  </body>
</html>
