<nav class="flex justify-between items-center flex-row z-0 p-4 h-20 pl">
  <section class="w-1/5 h-full flex items-center">
    <img src="asddsa.img" alt="Logo" />
  </section>
  <section
    class="flex justify-between flex-row w-4/5 pr-40 pl-40 font h-full items-center max-sm:pr-0 max-sm:pl-0 text-white text-base"
  >
    <a href="index">Home</a>
    <a href="about">About me</a>
    <a href="contact">Contact</a>
    <button
      class="bg-gray-700 text-white w-40 rounded-xl h-full border-white border-solid border"
    >
      Projects
    </button>
  </section>
</nav>
