<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css" type="text/css" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <section class="h-20">
      <nav class="flex justify-between flex-row z-0 p-4">
        <section class="w-1/5">
          <img src="asddsa.img" alt="Logo" />
        </section>
        <section class="flex justify-between flex-row w-4/5">
          <a href="index">Home</a>
          <a href="projects">Projects</a>
          <a href="contact">Contact</a>
        </section>
      </nav>
    </section>
  </body>
</html>
